page-active-sprint-tab {

}

.issue{
    
    &-code{
        color: #286090;
        font-weight: 600;
        font-size: 1.1em;
    }

    &-summary{
        font-weight: 500;
        color: #5a5959;
    }

}
