page-sprints {

  .sprint{    
    &-range{
      &-from{
        margin-right: 3rem;

        &-label{
          color: #3b5998;
          font-weight: bolder;
          font-size: 10px;
        }
      }
    }
  }
}

