<ion-header>

  <ion-navbar color='primary'>
    <ion-title>Sprints</ion-title>
    <span class="project-name">Proyecto: {{ projectName }}</span>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list ion-item *ngFor="let sprint of sprints" class="cursor">
    <div  (click)="openSprint(sprint)">
      <h3 class="sprint-name">{{ sprint.name }} 
        <span *ngIf="sprint.isActive" class="activo">(Activo)</span>
        <span *ngIf="!sprint.isActive" class="inactivo">(Finalizado)</span>
      </h3>
      <div>
        <span class="sprint-range-from">Desde: <span
            class="sprint-range-from-label">{{ sprint.dateFrom | formatDateMillisecond}}</span></span>
        <span class="sprint-range-from">Hasta: <span
            class="sprint-range-from-label">{{ sprint.dateTo | formatDateMillisecond}}</span></span>
      </div>
    </div>
    <button icon-only  (click)="presentPopover($event, sprint)"item-end class="more" *ngIf="sprint.isActive">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-list>

  <ion-fab bottom right (click)="createSprint()" *ngIf="role == 2 || role == 3">
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>