page-sprints {

  .sprint{    
    &-name{
      color: #3b5998;
      font-size: 20px;
      font-weight: bold;
    }
    &-range{
      &-from{
        margin-right: 3rem;
        font-size: 15px;
        font-weight: 500;

        &-label{
          color: #216856;
          font-weight: bolder;
          font-size: 15px;
        }
      }
    }
  }

  .project-name{
    padding: 0 12px;
    color: #a3b6b1;
    font-weight: bolder;
    font-size: 15px;
  }

  .more{
    background-color:transparent !important;
    color: black;
    font-size: 1.6rem;
    padding-right: 0;
  }

  .item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end] {
    margin: 9px 0px 9px 0;
  }

  .activo{
    color: green;
    font-size: 16px;
    margin-left: 10px;
  }

  .inactivo{
    color: red;
    font-size: 16px;
    margin-left: 10px;
  }

  .cursor:hover{
    cursor: pointer;
  }

  @media screen and (min-width: 600px) and (max-width: 1000px){
    .scroll-content,
    .fixed-content,
    .tabs-md .tabbar{
      left: 15%;
      width: 70%;
      border: 1px solid #ccc;
      box-shadow: 5px 5px 30px #d4d4d4;
    }
    
    ion-navbar.toolbar{
      padding-left: 15%;
      padding-right: 15% !important;
    }
  }

  @media screen and (min-width: 1000px){
    .scroll-content,
    .fixed-content,
    .tabs-md .tabbar{
      left: 25%;
      width: 50%;
      border: 1px solid #ccc;
      box-shadow: 5px 5px 30px #d4d4d4;
    }

    ion-navbar.toolbar{
      padding-left: 25%;
      padding-right: 25% !important;
    }
  }
}

