<ion-header>
  <ion-navbar color="primary">
    <ion-title>Mi perfil</ion-title>

    <!-- <ion-buttons end *ngIf="!readonly">
      <button ion-button icon-only (click)="accept()">
        <ion-icon name="checkmark" class="accept"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only navPop>
        <ion-icon name="close" class="cancel"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label floating>Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="firstName" [disabled]=true></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Apellido</ion-label>
    <ion-input type="text" [(ngModel)]="lastName" [disabled]=true></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Usuario</ion-label>
    <ion-input type="text" [(ngModel)]="userName" [disabled]=true></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Rol</ion-label>
    <ion-input type="text" [(ngModel)]="role" [disabled]=true></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="text" [(ngModel)]="email" [disabled]=true></ion-input>
  </ion-item>

  <button ion-button class="changePassword" (click)="changePassword()" *ngIf="!isNetwork">
    Cambiar contraseña
  </button>
    
</ion-content>