<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ fullName }}</ion-title>

    <ion-buttons end *ngIf="!readonly">
      <button ion-button icon-only (click)="createUser()">
        <ion-icon name="checkmark" class="accept"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only navPop>
        <ion-icon name="close" class="cancel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label floating>Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="firstName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Apellido</ion-label>
    <ion-input type="text" [(ngModel)]="lastName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Usuario</ion-label>
    <ion-input type="text" [(ngModel)]="userName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Rol</ion-label>
    <ion-input type="text" [(ngModel)]="role"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="text" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item *ngIf="!isNetwork">
    <ion-label floating>Password</ion-label>
    <ion-input type="text" [(ngModel)]="password"></ion-input>
  </ion-item>
    
</ion-content>