<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Buscar personas
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="accept()">
        <ion-icon name="checkmark" class="accept"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="close" class="cancel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-searchbar [(ngModel)]="personToSearch" (ionInput)="filterItems()"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let person of personsToShow" (click)="changeStatusChecked(person)">
      <!-- <ion-avatar item-start>
        <img [src]= "person.avatar">
      </ion-avatar> -->
      <div class="issue-summary full-name">
        {{ person.firstName }} {{ person.lastName}}
      </div>
      <p class="user-name">{{ person.userName}}</p>
      <ion-icon *ngIf="person.checked" name="checkmark-circle" item-end class="checked"></ion-icon>
    </ion-item>

  </ion-list>
</ion-content>
