page-filter-person {

  .full-name{
    color: #274469;
  }
  .user-name{
    color: #216856;
  }

  .checked{
    color: #216856 !important;
  }

  ion-buttons{
    margin-right: 18px !important;
  }

  .cancel{
    color: #b8696e;
    font-weight: bold;
    font-size: 30px !important;
  }

  .accept{
    color: #4db69d;
    font-weight: bold;
    font-size: 30px !important;
  }

}
