page-velocity {

  @media screen and (min-width: 600px) and (max-width: 1000px){
    .scroll-content,
    .fixed-content,
    .tabs-md .tabbar{
      left: 15%;
      width: 70%;
      border: 1px solid #ccc;
      box-shadow: 5px 5px 30px #d4d4d4;
    }

    ion-navbar.toolbar{
      padding-left: 15%;
      padding-right: 15% !important;
    }
  }

  @media screen and (min-width: 1000px){
    .scroll-content,
    .fixed-content,
    .fixed-content,
    .tabs-md .tabbar{
      left: 25%;
      width: 50%;
      border: 1px solid #ccc;
      box-shadow: 5px 5px 30px #d4d4d4;
    }

    ion-navbar.toolbar{
      padding-left: 25%;
      padding-right: 25% !important;
    }
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .cursor:hover{
    cursor: pointer;
  }

  .icono{
    color: rgb(0, 79, 170); 
    margin-left: 25px;
    font-size: 20px;
  }

  .icono:hover{
    color: rgb(0, 170, 99); 
  }

}
