<ion-header>
    <ion-navbar color="primary">
      <ion-title>Proyecto</ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="createProject()">
          <ion-icon name="checkmark" class="accept"></ion-icon>
        </button>
      </ion-buttons>

      <ion-buttons end>
        <button ion-button icon-only (click)="cancel()">
          <ion-icon name="close" class="cancel"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end *ngIf="!isCreate">
        <button ion-button icon-only (click)="deleteProject()">
          <ion-icon name="md-trash" class="delete"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>      
  </ion-header>
  
  <ion-content padding>
  
    <ion-item>
    <ion-label floating>Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Descripción</ion-label>
    <ion-input type="text" [(ngModel)]="description" ></ion-input>
  </ion-item>

  <h4 class="members">Integrantes</h4>
    <ion-list>
      <ion-item *ngFor="let member of members">
        <ion-avatar item-start>
          <avatar>{{member.firstName.substring(0,1) | uppercase}}</avatar>
        </ion-avatar>
        <div class="issue-summary full-name">
          {{ member.firstName }} {{ member.lastName}}
        </div>
        <p class="user-name">{{ member.userName}}</p>
      </ion-item>

    </ion-list>

    <ion-fab bottom right (click)="addUsers()">
      <button ion-fab><ion-icon name="person-add"></ion-icon></button>
    </ion-fab>

  </ion-content>