page-home {

  .background{
    background-image: url("../assets/imgs/fondo5.jpg");
    position: relative;
    z-index: 1;
  }

  .background::after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.94);
    z-index:-1;
  }

  .option{
    &-group{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%)
    }
  }

  .scroll-content{
  }

  .content{
    display: inline-block;
    text-align: center;
  }

  .avatar1{
    border-radius: 20px;
    width: 85px;
    height: 85px;
    background: rgb(255, 255, 255);
    color: #324d85;
    font-size: 2.5rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    margin: 1.2rem ;

    &-text{
      background: transparent;
      color: #ffffff;
      font-weight: bolder;
      font-style: italic;
      font-size: 1.6rem;
    }

  }

  .backlog{
    background: #ffffff;
  }

  .active-sprint{
    background: #ffffff;
  }

  .daily{
    background: #ffffff;
  }

  .report{
    background: #ffffff;
    align-self: auto;
  }

  .config{
    background: #ffffff;
    align-self: auto;
  }

  @media screen and (max-width: 599px){
    img{
      width: 60px;
    }
  }

  @media screen and (min-width: 600px) and (max-width: 1000px){
    .avatar1{
      width: 75px;
      height: 75px;
    }

    img{
      width: 50px;
    }
  }
}

  @media screen and (min-width: 1000px){
    .avatar1{
      width: 100px !important;
      height: 100px !important;
    }

    img{
      width: 60px;
    }
}

img{
  width: 75px;
}