<ion-header>

  <ion-navbar color='primary'>
    <ion-title>Backlog</ion-title>
    <span class="project-name">Proyecto: {{ projectName}}</span>
  </ion-navbar>

</ion-header>


<ion-content padding class="lean">

  <ion-list>
    <ion-item  *ngFor="let issue of issues, let i = index" class="cursor">
      <ion-avatar item-start>
        <avatar>{{ issue.reporter.substring(0,1) | uppercase }}</avatar>
      </ion-avatar>
      <div (click)="openDetail(issue)">
        <div class="issue-code">SID-{{ issue.id }}</div>
        <div class="issue-summary">
          {{ issue.title }}
        </div>
      </div>
      <button  icon-only (click)="presentPopover($event, issue)" item-end class="more" *ngIf="issue.state != 'FINALIZADO'">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <!-- this fab is placed at top right -->
  <ion-fab bottom right (click)="createNewIssue()">
    <button ion-fab><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
