<ion-header>

    <ion-navbar color='primary'>
      <ion-title>Daily</ion-title>
      <div class="daily-date">{{dailyCreated | formatDate}}</div>
      <ion-buttons end>
        <button ion-button icon-only (click)="createDaily()" *ngIf="dailyActive">
          <ion-icon name="checkmark" class="accept"></ion-icon>
        </button>
      </ion-buttons>

      <ion-buttons end>
        <button ion-button icon-only (click)="cancel()">
          <ion-icon name="close" class="cancel"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let member of members, let i = index" (click)='push(member)' class="items">

            <ion-avatar item-start class="avatar">
                <img [src]="member.avatar">
            </ion-avatar>

            <div class="name">{{member.first_name}} {{member.last_name}}  </div>

            <div class="content">
                <div class="day">
                    <span class="active" *ngIf="member.yesterday.length > 0">Ayer</span>
                    <span class="inactive" *ngIf="member.yesterday.length == 0">Ayer</span>
                </div>
                <div class="day">
                    <span class="active" *ngIf="member.today.length > 0">Hoy</span>
                    <span class="inactive" *ngIf="member.today.length == 0">Hoy</span>
                </div>
            </div>
        </ion-item>
    </ion-list>

    <ion-fab right bottom *ngIf="dailyActive">
        <button ion-fab color="light"><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="top">
            <button ion-fab><ion-icon ios="ios-person" md="md-person" (click)="pushFilter()"></ion-icon></button>
            <button ion-fab><ion-icon ios="ios-people" md="md-people"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>

</ion-content>
