page-daily-item {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .day {
    margin-right: 1rem;
    //font-size: 1.7rem;
    font-weight: 500;
  }
  .items {
    display: flex;
    align-items: center;

    &-ios,
    &-md,
    &-wp {
      padding-left: 0 !important;
    }
  }

  .item-ios ion-avatar ion-img, .item-ios ion-avatar img,
  .item-md ion-avatar ion-img, .item-md ion-avatar img
  {
    width: 50px;
    height: 50px;
  }

  .input-wrapper{
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .name{
    //font-size: 1.5rem;
    font-weight: 500;
  }

  .days{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.7rem;
  }

  .active{
    color: #4db69d;
  }

  .inactive{
    color: #b8696e;
  }

  .fab-md {
    color: #fff;
    background-color: #274469;
  }

  .daily-date{
    padding: 0 12px;
    color: #FFF;
    font-weight: 500;
    padding-top: 5px;
    font-size: 1.5rem;
  }
}
