page-issue {

  textarea{
    height: 50px !important;
  }

  .btn-aceptar, .btn-cancelar{
    margin: 1rem 0;
    height: 48px;
    font-size: 1.6rem;
  }

  .btn-aceptar{
    margin-top: 3rem;
  }

  .card-header{
    background-color: map-get($colors, primary);
    color: #ffffff;
  }

  .card-content{
    padding: 0px 16px;
    max-height: 0px;
  }

  ion-buttons{
    margin-right: 18px !important;
  }

  .cancel{
    color: #b8696e;
    font-weight: bold;
    font-size: 30px !important;
  }

  .accept{
    color: #4db69d;
    font-weight: bold;
    font-size: 30px !important;
  }

}
