page-daily-tab {
  .item-ios ion-avatar ion-img, .item-ios ion-avatar img,
  .item-md ion-avatar ion-img, .item-md ion-avatar img
  {
    width: 50px;
    height: 50px;
  }

  .date{
    font-weight: 500;
  }

  .item-md,
  .item-ios{
    padding-left: 0 !important;
  }

  .send{
    background-color:transparent !important;
    color: green;
    font-size: 1.4rem;
    padding-right: 0;
  }

  .sprint{
    color: #636363;
    font-size: 15px;
    font-weight: 700;
  }

  .cursor:hover{
    cursor: pointer;
  }

  @media screen and (min-width: 600px) and (max-width: 1000px){
    .scroll-content,
    .fixed-content,
    .tabs-md .tabbar{
      left: 15%;
      width: 70%;
      border: 1px solid #ccc;
      box-shadow: 5px 5px 30px #d4d4d4;
    }
    
    ion-navbar.toolbar{
      padding-left: 15%;
      padding-right: 15% !important;
    }
  }

  @media screen and (min-width: 1000px){
    .scroll-content,
    .fixed-content,
    .fixed-content, 
    .tabs-md .tabbar{
      left: 25%;
      width: 50%;
      border: 1px solid #ccc;
      box-shadow: 5px 5px 30px #d4d4d4;
    }

    ion-navbar.toolbar{
      padding-left: 25%;
      padding-right: 25% !important;
    }
  }
}