page-daily-tab {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .day {
    margin-right: 1rem;
    font-size: 1.7rem;
    font-weight: bold;
  }
  .items {
    display: flex;
    align-items: center;

    &-ios,
    &-md,
    &-wp {
      padding-left: 0 !important;
    }
  }

  .item-ios ion-avatar ion-img, .item-ios ion-avatar img,
  .item-md ion-avatar ion-img, .item-md ion-avatar img
  {
    width: 50px;
    height: 50px;
  }

  .item-md ion-avatar ion-img, .item-md ion-avatar img


  .input-wrapper{
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .name{
    font-size: 2rem;
    font-weight: 500;
  }

  .days{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.7rem;
  }

  .active{
    color: #57b67b;
  }

  .inactive{
    color: #b82e27;
  }

}
