page-sprint {

  ion-buttons{
    margin-right: 18px !important;
  }

  .cancel{
    color: #b8696e;
    font-weight: bold;
    font-size: 30px !important;
  }

  .accept{
    color: #4db69d;
    font-weight: bold;
    font-size: 30px !important;
  }

  .issues{
    text-align: center;
    font-weight: bolder;
    margin-top: 5rem;
    font-size: 2rem;
  }

  .issue-code {
    color: #286090;
    font-weight: 600;
    font-size: 1.1em;
  }

  .issue-summary {
    font-weight: 500;
    color: #5a5959;
  }

}
