page-sprint {

  ion-buttons{
    margin-right: 18px !important;
  }

  .cancel{
    color: #b8696e;
    font-weight: bold;
    font-size: 30px !important;
  }

  .accept{
    color: #4db69d;
    font-weight: bold;
    font-size: 30px !important;
  }

  .issues{
    text-align: center;
    font-weight: bolder;
    margin-top: 5rem;
    font-size: 2rem;
  }

  .issue-code {
    color: #286090;
    font-weight: 600;
    font-size: 1.1em;
  }

  .issue-summary {
    font-weight: 500;
    color: #5a5959;
  }

  .sprint-range-from-label{
    color: #ffffff;
    font-size: 13px;
  }

  .sprint-range{
    margin: 0;
    
  }
  
  .more{
    background-color:transparent !important;
    color: black;
    font-size: 1.6rem;
    padding-right: 0;
  }
}
