page-sprint {

  ion-buttons{
    margin-right: 18px !important;
  }

  .cancel{
    color: #b8696e;
    font-weight: bold;
    font-size: 30px !important;
  }

  .accept{
    color: #4db69d;
    font-weight: bold;
    font-size: 30px !important;
  }

  .issues{
    text-align: center;
    font-weight: bolder;
    margin-top: 5rem;
    font-size: 2rem;
  }

  .issue-code {
    color: #286090;
    font-weight: 600;
    font-size: 1.1em;
  }

  .issue-summary {
    font-weight: 500;
    color: #5a5959;
  }

  .sprint-range-from-label{
    color: #ffffff;
    font-size: 13px;
  }

  .sprint-range{
    margin: 0;
    
  }
  
  .more{
    background-color:transparent !important;
    color: black;
    font-size: 1.6rem;
    padding-right: 0;
  }

  .activo{
    color: #45c145;
    font-size: 16px;
    margin-left: 10px;
  }

  .inactivo{
    color: #ea6060;
    font-size: 16px;
    margin-left: 10px;
  }

  @media screen and (min-width: 600px) and (max-width: 1000px){
    .scroll-content,
    .fixed-content,
    .tabs-md .tabbar{
      left: 15%;
      width: 70%;
      border: 1px solid #ccc;
      box-shadow: 5px 5px 30px #d4d4d4;
    }
    
    ion-navbar.toolbar{
      padding-left: 15%;
      padding-right: 15% !important;
    }
  }

  @media screen and (min-width: 1000px){
    .scroll-content,
    .fixed-content,
    .tabs-md .tabbar{
      left: 25%;
      width: 50%;
      border: 1px solid #ccc;
      box-shadow: 5px 5px 30px #d4d4d4;
    }

    ion-navbar.toolbar{
      padding-left: 25%;
      padding-right: 25% !important;
    }
  }
}
