<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{name}}

      <span *ngIf="sprint != null && sprint.isActive" class="activo">(Activo)</span>
      <span *ngIf="sprint != null && !sprint.isActive" class="inactivo">(Finalizado)</span>

      <div class="sprint-range" *ngIf='!create'>
        <span class="sprint-range-from-label">Del: {{ sprint.dateFrom | formatDateMillisecond}}</span>
        <span class="sprint-range-from-label">Al: {{ sprint.dateTo | formatDateMillisecond}}</span>
      </div>
      <div class="sprint-range" *ngIf='create'>
        Crear Sprint
      </div>
    </ion-title>
    <ion-buttons end *ngIf="!readonly">
      <button ion-button icon-only (click)="createSprint()">
        <ion-icon name="checkmark" class="accept"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="close" class="cancel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="!create">
    <ion-list>
      <ion-item *ngFor="let issue of issues, let i = index" class="cursor">
        <div (click)="openDetail(issue)">
          <div class="issue-code">SID-{{ issue.id }} <span
              [class]="getClassByState(issue.state)">({{ issue.state }})</span></div>
          <div class="issue-summary">
            {{ issue.title }}
          </div>
        </div>
        <button icon-only (click)="presentPopover($event, issue)" item-end class="more"
          *ngIf="issue.state != 'FINALIZADO'">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-item>
    </ion-list>

    <!-- this fab is placed at top right -->
    <ion-fab bottom right (click)="createNewIssue()" *ngIf="sprint.isActive">
      <button ion-fab>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
  </div>

  <div *ngIf="create">

    <ion-item>
      <ion-label>Desde</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" placeholder="" [(ngModel)]="from"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Hasta</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" placeholder="" [(ngModel)]="to"></ion-datetime>
    </ion-item>
  </div>

</ion-content>