<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ fullName }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-avatar class="avatar">
    <img [src]= 'avatar' *ngIf="avatar">
    <ion-icon ios="ios-cloud-upload" md="md-cloud-upload" *ngIf="!avatar"></ion-icon>
  </ion-avatar>

  <ion-item>
    <ion-label floating>Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="firstName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Apellido</ion-label>
    <ion-input type="text" [(ngModel)]="lastName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>DNI</ion-label>
    <ion-input type="text" [(ngModel)]="dni"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="text" [(ngModel)]="email"></ion-input>
  </ion-item>

</ion-content>
