<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ fullName }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-avatar class="avatar" (click)="getPicture()">
    <img [src]="imagePreview" *ngIf="imagePreview" />
    <img src="https://firebasestorage.googleapis.com/v0/b/tesis-6bfcc.appspot.com/o/img%2Favatar.png?alt=media&token=8dd5d8df-d4a9-44b8-b004-640de509e6e9" *ngIf="!imagePreview">
    <!--<ion-icon ios="ios-cloud-upload" md="md-cloud-upload" *ngIf="!avatar"></ion-icon>-->
  </ion-avatar>

  <ion-item>
    <ion-label floating>Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="firstName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Apellido</ion-label>
    <ion-input type="text" [(ngModel)]="lastName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>DNI</ion-label>
    <ion-input type="text" [(ngModel)]="dni"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="text" [(ngModel)]="email"></ion-input>
  </ion-item>

</ion-content>
