<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ fullName }}</ion-title>

    <ion-buttons end *ngIf="!readonly">
      <button ion-button icon-only (click)="createUser()">
        <ion-icon name="checkmark" class="accept"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only navPop>
        <ion-icon name="close" class="cancel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!-- <ion-avatar class="avatar">
    <avatar>{{ firstName. substring(0,1) | uppercase}}</avatar>
  </ion-avatar> 
    <ion-item class="toggle">
      <ion-label class="{{class}}">Login por redes sociales</ion-label>
      <ion-toggle [(ngModel)]="isNetwork" (ionChange)="change()"></ion-toggle>
    </ion-item>
  -->

  <ion-item>
    <ion-label floating>Nombre <span class="required" *ngIf="firstName == ''">*requerido</span></ion-label>
    <ion-input type="text" [(ngModel)]="firstName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Apellido <span class="required" *ngIf="lastName == ''">*requerido</span></ion-label>
    <ion-input type="text" [(ngModel)]="lastName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Usuario <span class="required" *ngIf="userName == ''">*requerido</span></ion-label>
    <ion-input type="text" [(ngModel)]="userName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password <span class="required" *ngIf="password == ''">*requerido</span></ion-label>
    <ion-input type="text" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-item class="item-leave-height">
    <ion-label>Rol</ion-label>
    <ion-select [(ngModel)]="role">
      <ion-option value="1">Desarrollador</ion-option>
      <ion-option value="2">Scrum Master</ion-option>
      <ion-option value="3">Admin</ion-option>
    </ion-select>
  </ion-item>

  <ion-card>
    <ion-card-header>
      Proyectos
      <button ion-button (click)="updateProjects()">
        Modificar
      </button>
    </ion-card-header>

    <ion-list *ngFor="let project of projects">
      <button ion-item>
        <ion-icon ios="ios-checkmark" md="md-checkmark" class="icono"></ion-icon>
        {{ project.name }}
      </button>

    </ion-list>
  </ion-card>

  <!-- <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="text" [(ngModel)]="email"></ion-input>
  </ion-item> -->

  <ion-item class="toggle">
    <ion-label class="{{classEnabled}}">{{enabledText}}</ion-label>
    <ion-toggle [(ngModel)]="isEnabled" (ionChange)="changeEnabled()"></ion-toggle>
  </ion-item>

</ion-content>