<ion-header>
  <ion-navbar color="primary">
    <ion-title>Usuario</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item-sliding *ngFor="let user of users | async">
      <ion-item (click)="openDetail(user)">
        <ion-avatar item-start>
          <img [src]="imagePreview" *ngIf="imagePreview" />
        </ion-avatar>
        <div class="issue-code">{{ user.firstName + ' ' + user.lastName  }}</div>
        <div class="issue-summary">
          {{ user.rol }}
        </div>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <button ion-button (click)="choosePicture()">Seleccionar</button>
  <button ion-button (click)="getPicture()">Camera</button>
  <button ion-button (click)="loadImage()">Subir</button>

  <!-- this fab is placed at top right -->
  <ion-fab bottom right>
    <button ion-fab (click)="createUser()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
