<ion-header>
  <ion-navbar color="primary">
    <ion-title>Usuario</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item-sliding *ngFor="let user of users">
      <ion-item (click)="openDetail(user)">
        <ion-avatar item-start>
          <img [src]="user.avatar">
        </ion-avatar>
        <div class="issue-code">{{ user.firstName + ' ' + user.lastName  }}</div>
        <div class="issue-summary">
          {{ user.rol }}
        </div>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ion-item class="text" *ngFor="let item of items | async">
      {{item | json}}
    </ion-item>
  </ion-list>

  <!-- this fab is placed at top right -->
  <ion-fab bottom right>
    <button ion-fab (click)="createUser()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
