page-daily-description {

  textarea {
    height: 150px !important;
  }

  .btn-aceptar, .btn-cancelar{
    margin: 1rem 0;
    height: 48px;
    font-size: 1.6rem;
  }

  .btn-aceptar{
    margin-top: 3rem;
  }

}
